body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    margin: auto;
}

h1, h2, h3, h4, h5, h6 {
    color: #333;
}

/* Style for a cupcake item */
img {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #fff;
    max-width: 50%;
    max-height: 200px;
}
